<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder_mart_server.work_publish_modules.students.mappers.AnswerMapper">

    <select id="queryAllAnswer"
            resultType="com.coder_mart_server.work_publish_modules.students.pojo.vo.AnswerVO">

    </select>
</mapper>